.products{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 2fr);
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
    gap: 0px; 
}

.card1{
    width: 300px;
    display: flex;
    margin-left: 130px;
    margin-top: 55px;
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(244, 2, 2, 0.2);
    color: rgb(60, 22, 25);
}
.card1:hover{
    transform: scale(1.14);
  }